<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 命名空间 -->
  <typeAliases>
    <typeAlias type="wang.dragon1573.model.User" alias="User" />
  </typeAliases>

  <!-- 映射Map -->
  <mappers />
</configuration>
